<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="ExtAspNet" type="ExtAspNet.ConfigSection, ExtAspNet" requirePermission="false"/>
	</configSections>
	<!-- other config values:EnableAjax="true" Theme="blue" FormMessageTarget="qtip" FormOffsetRight="25" FormLabelWidth="80" -->
	<ExtAspNet Language="zh_cn" AjaxTimeout="60"/>
	<appSettings>
		<!-- 数据库连接串 -->
		<add key="CONNECTIONSTRINGFORPROVINCE_Main" value="User ID=sa;Initial Catalog=TZMS;Data Source=211.86.153.71\SQLEXPRESS;Password=3492157;Connection Lifetime=25;"/>
		<!--<add key="CONNECTIONSTRINGFORPROVINCE_Main" value="Server=.;Integrated Security=SSPI;Database=TZMS"/>-->
		<!--  GridView  页大小-->
		<add key="PAGECOUNTS" value="10"/>
		<!-- 文件上传数据库-->
		<add key="UploadFileSize" value="1024000"/>
		<!--<add key="CONNECTIONSTRINGFORPROVINCE" value="User ID=sa;Initial Catalog=TZMS_Expand;Data Source=.;Password=123456;Connection Lifetime=25;Pooling=true;Min Pool Size=10"/>-->
		<add key="CONNECTIONSTRINGFORPROVINCE" value="User ID=sa;Initial Catalog=TZMS_Expand;Data Source=211.86.153.71\SQLEXPRESS;Password=3492157;Connection Lifetime=25;"/>
    <!--网站部署根目录（使用附件时候需要）-->
    <add key="WebPagesUrl" value="http://localhost:47654/"/>
    <!--一级站点（和日历共享数据）已过期-不需要设置-->
    <add key="WebSite" value=".sse.ustc.edu.cn"/>
		<!--  本系统名称-->
		<add key="SYSTEMNAME" value="安徽吉信投资发展集团管理系统"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add assembly="ExtAspNet" namespace="ExtAspNet" tagPrefix="ext"/>
			</controls>
		</pages>
		<httpModules>
			<add name="ExtAspNetScriptModule" type="ExtAspNet.ScriptModule, ExtAspNet"/>
		</httpModules>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<!-- Compatible with IIS7 -->
	<system.webServer>
		<modules>
			<add name="ExtAspNetScriptModule" type="ExtAspNet.ScriptModule, ExtAspNet"/>
		</modules>
		<httpErrors errorMode="Detailed"/>
		<asp scriptErrorSentToBrowser="true"/>
		<httpProtocol>
			<customHeaders>
				<clear/>
				<add name="X-UA-Compatible" value="IE=EmulateIE7"/>
        <!--<add name="X-UA-Compatible" value="IE=8"/>-->
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
