<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>设置布局是否可折叠</title>
    <script id="jart_js" type="text/javascript" src="../../resources/jart/jart.js"></script>
    <script type="text/javascript" src="../../js/share.js"></script>
</head>
<body>
	<div style="height: 300px;" allowfilly="0">
		<div art="layout" style="border: solid 1px blue;" filly="true">
			<div region="north" collapsible="true" style="border: solid 1px red; text-align: center;">北部</div>
			<div region="west" collapsible="true" style="border: solid 1px red; text-align: center;">西部</div>
			<div region="middle" style="border: solid 1px red; text-align: center;">
				中部<br /> 本演示网站的首页就是此控件布局的
			</div>
			<div region="east" collapsible="true" style="border: solid 1px red; text-align: center;">东部</div>
			<div region="south" collapsible="true" style="border: solid 1px red; text-align: center;">南部</div>
		</div>
	</div>
</body>
</html>
